<div id="extension-moziot-deepspeech-content">
  <div id="extension-moziot-deepspeech-request">
    <h2>Voice Command</h2>
    <div id="extension-moziot-deepspeech-form-content">
      <button type="button" id="extension-moziot-deepspeech-record">Start</button>
      <pre id="extension-moziot-deepspeech-response-data"></pre>
      <p>This requires that you are on the same network as the gateway, so that local WebSocket can be established. You may have to override some certificate checks. Please try and connect to:</p>
      <a id="url"></a>
    </div>
  </div>
</div>
